@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    #app {
        font-family: Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    *::-webkit-scrollbar {
        @apply w-1 h-1 cursor-pointer;
    }
    *::-webkit-scrollbar-track {
        @apply bg-scrollbar-backgorund rounded-full border-4;
    }
    *::-webkit-scrollbar-thumb {
        @apply bg-scrollbar-thumb rounded-full border-2;
    }

    .container {
        @apply p-2 border-1 rounded-md bg-container border-container-border box-border shadow overflow-hidden flex flex-col;
    }

    .interactable {
        @apply container bg-interactable border-interactable-border cursor-pointer !shadow-none !max-h-fit py-1;
    }
}
